
.card {
    margin: 5%;
}

.col-md-2 {
    text-align: center;
}

#time-left {
    text-align: end;
}

#card-body {
    text-align: center;
    margin: 10%;
}

button {
    margin: 10px;
    border-color: aqua;
}